# chinook specific stuff
# script to set env vars
set_vars
# storing venv in project (new venv was being created in interactive job)
.venv

.ipynb_checkpoints/*
**/__pycache__

# OSX stuff
*._
*.DS_Store
